body{
	background-color: #fff5ee;
	font-family: cambria;
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1;
}
.some-container{
	width: 100%;
	max-width: 1024px;
	padding: 0 15px;
	margin: 0 auto;
}
.top-menu{
	background: #008080;
	box-shadow: 3px 7px 7px rgba(0,0,0,.1);
	padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.logo {
	color: #F73E24;
	font-size: 50px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}
.first-menu{
	display: flex;
	justify-content: space-between;
}
.first-m{
	align-self: center;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {
	display: inline-block;
}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 51px;
  padding-left: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: cambria, Times New Roman, serif;
  font-weight: normal;
  color: #fff5ee;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}

@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
  
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}

table.reviews-t th{
	padding: 15px 2px;
}
table.reviews-t td{
	padding: 10px 2px;
}

}
@media (max-width: 600px) {
.first-menu{display: block;}
.menu-main li {display: block;}
}




* {box-sizing: border-box;}
form.pole-search {
  position: relative;
  width: 250px;
  margin: 10px;
  background: #A3D0C3;
  border-radius: 5px;
}
input.search-pole{
	border: none;
  outline: none;
  background: transparent;
  font-family: cambria, Times New Roman, serif;
}
button.cndbober{
  border: none;
  outline: none;
  background: transparent;
  font-family: cambria, Times New Roman, serif;
}
input.search-pole{
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
button.cndbober{
  height: 42px;
  width: 55px;
  color: #F73E24;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button.cndbober:hover{
	color: #fff5ee;
}
div.login a{
	text-decoration: none; 
	color: #414a4c;
}
div.login a:hover{
	text-decoration: none; 
	color: #F73E24; 
	border-left: 1px solid #fff5ee;
	border-right: 1px solid #fff5ee;
}
.footer-menu{
	background: #008080;
	box-shadow: 3px 7px 7px rgba(0,0,0,.1);
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer-block{
	flex-grow: 1;
}
.bottom-menu{
	font-size: 14px;
	list-style: none;
}
.footer-block a{ 
	text-decoration: none; 
	color: #414a4c;
}
.footer-block a:hover { 
	text-decoration: none; 
	color: #F73E24; 
	border-left: 1px solid #fff5ee;
	border-right: 1px solid #fff5ee;
}
.bottom-menu-header a:hover { 
	text-decoration: none; 
	color: #F73E24;
}
.bottom-menu-desc{
	font-size: 12px;
}
p.paragraph:first-letter{
	font-size: 1.5em;
	color: #F73E24;
}


* {
   box-sizing: border-box;
}
.content-container{
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
}
.postanovka {
   width: 300px;
   text-align: center;
   margin: 15px auto;
   border-bottom: 2px solid #F5F5F5;
   background: #ffffff;
   font-family: cambria, Times New Roman, serif;
   box-shadow: 3px 0 7px rgba(0,0,0,.3);
   transition: .3s ease-in;
}
.postanovka:hover {
   border-bottom: 2px solid #F73E24;
}
.postanovka img {
   display: block;
   width: 100%;
}
.afisha-img{
	width: 300px;
   height: 300px;
}
.postanovka-list {
   background: #fafafa;
   padding: 15px 0;
}
.postanovka-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0;
}
.postanovka-list h4 {
   font-size: 16px;
   font-weight: normal;
   color: #000000;
   margin: 5px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.postanovka:hover .button {
   background: #F73E24;
}


h3.theaters-title1{
	color: #F73E24;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}
div.reviews-container{
	margin-bottom: 50px;
}

table.reviews-t{
	
	border-collapse: collapse;
	background: #fff5ee;
	text-align: center;
	border-radius: 20px;
}
table.reviews-t th{
	color: #008080;
	border-bottom: 2px solid #F73E24;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 10px;
}
table.reviews-t td{
	border-bottom: 1px solid #F73E24;
	font-weight: normal;
	padding: 10px 5px;
	transition: .0.5s linear;
}
table.reviews-t tr:hover td{
	background: #A3D0C3;
}


.passa{
	margin-left: 25px;
}

div.map-kassa{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	height: 100%;
	margin-bottom: 20px;
}


div.modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.formauth {
	border: 3px solid #008080;
	background: #fff5ee;
	border-radius: 5px;
    margin: 5px auto; /* 15% from the top and centered */
    width: 50%; /* Could be more or less, depending on screen size */
}
input.formauth_input{
	width: 100%;
	padding: 15px 15px;
	display: inline-block;
	border: 2px dashed #008080;
	box-sizing: border-box;
	background: #A3D0C3;
	border-radius: 5px;
}
button.formauth_button{
	text-decoration: none;
	border: none;
	background: #cccccc;
	color: #ffffff;
	padding: 0 12px;
	margin: 5px;
	width: 120px;
	font-size: 12px;
	line-height: 28px;
	transition: .3s ease-in;
	cursor: pointer;
}
button.formauth_button:hover{
   background: #F73E24;
}
div.button_container{
	margin: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
}
a.formauth_link{
	text-decoration: none; 
	color: #414a4c;
}
a.formauth_link:hover{
	text-decoration: none; 
	color: #F73E24;
}
div.formauth_container{
	padding: 16px;
}
@media screen and (max-width: 660px){	
	h3.auth-title{
	font-size: 30px;
	}
	.formregistr {
    width: 60%; /* Could be more or less, depending on screen size */
}
}
@media screen and (max-width: 300px){
button.formauth_button{
	width" 100%;
	display: block;}
	
	h3.auth-title{
	font-size: 30px;
	}
}



.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 42px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #F73E24;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
h3.auth-title{
	color: #F73E24;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
h3.auth-title-page{
	color: #F73E24;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 200px;
}


button.button_login{
	border: none;
	outline: none;
	background: transparent;
	color: #414a4c;
	cursor: pointer;
	font-family: cambria, Times New Roman, serif;
	font-size: 16px;
}

button.button_login:hover{
	text-decoration: none; 
	color: #F73E24;
	border-left: 1px solid #fff5ee;
	border-right: 1px solid #fff5ee;
}
h3.logout-title{
	color: #F73E24;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}
a.logout-link{
	text-decoration: none;
	color: #414a4c;
	cursor: pointer;
	font-size: 30px;
	text-align: center;
}
a.logout-link:hover{
	text-decoration: none; 
	color: #F73E24;
}

#link_logout{
	text-align: center;
	margin-bottom: 200px;
}



.formregistr {
	background: #fff5ee;
    margin: 10px auto; /* 15% from the top and centered */
    width: 40%; /* Could be more or less, depending on screen size */
	border-radius: 5px;
}
input.formregistr_input{
	width: 100%;
	padding: 12px 12px;
	display: inline-block;
	border: 2px dashed #008080;
	box-sizing: border-box;
	background: #A3D0C3;
	border-radius: 5px;
	margin: 5px 0;
}
button.formauth_button{
	text-decoration: none;
	border: none;
	background: #cccccc;
	color: #ffffff;
	padding: 0 12px;
	margin: 5px;
	width: 120px;
	font-size: 12px;
	line-height: 28px;
	transition: .3s ease-in;
	cursor: pointer;
}
button.formauth_button:hover{
   background: #F73E24;
}
div.button_container{
	margin: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
}


#form_logout {
	border: 3px solid #008080;
	background: #fff5ee;
	border-radius: 5px;
    margin: 5px auto; /* 15% from the top and centered */
    width: 50%; /* Could be more or less, depending on screen size */
}
a.formlogout-link{
	text-decoration: none; 
	color: #414a4c;
	text-align: center;
	margin-bottom: 20px;
}
a.formlogout-link:hover{
	text-decoration: none; 
	color: #F73E24;
}
div.formlogout_container{
	padding: 16px;
	text-align: center;
	margin: 10px;
}
h3.formlogout-title{
	color: #F73E24;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}


[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 0.5;
  font-size: 16px;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: -0.05em;
  border-radius: 10px;
  border: 1px solid #F73E24;
  box-shadow: 0 0 0 1px #F73E24;
  margin-right: 10px;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #F73E24;
  box-shadow: 0 0 0 0.1em #F73E24;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  content: '\0020\2190';
  font-size: 16px;
  line-height: 1;
  vertical-align: -0.05em;
}


.content-container-theaters{
	padding-left: 25px;
	
}
h3.theaters-title{
	color: #008080;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}
h3 a.alphabet{
	text-decoration: none;
	color: #F73E24;
	font-size: 1.5em;
	text-align: center;
}
p.alphabet-l {
	color: #008080;
	font-size: 2.5em;
}
a.alphabet-la {
	text-decoration: none;
	color: #000000;
}
h3 a.alphabet:hover{
	text-decoration: none;
	color: #008080;
}
a.alphabet-la:hover {
	text-decoration: none;
	color: #414a4c;
	border-bottom: 1px solid #F73E24;
	border-top: 1px solid #F73E24;
}


img.theater-img{
	border: 3px solid #F73E24;
	float: left;
	margin: 0 2em 2em 0;
}
p.desc-theater{
	clear: left;
}

.content-container-contacts{
	padding-left: 25px;
}
h3.theaters-title1{
	color: #F73E24;
	font-size: 2.5em;
	font-weight: bold;
}
h4.contacts-paragraph{
	color: #008080;
	font-size: 1.2em;
}
a.contacts-link{
	text-decoration: none;
	color: #008080;
	font-size: 1em;
}
a.contacts-link:hover {
	text-decoration: none;
	color: #F73E24;
}
ul.actors-list{
	list-style: none;
}

div.block-contacts{
	background: #fff5ee;
	border: 2px dashed #A3D0C3;
	border-radius: 20px;
	margin: 0px 25px 25px 25px;
	padding: 10px;
	width: 500px;

}
div.content-container-contacts{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
div.block-contacts{
	display: flex;
	justify-content: center;
}


div.table-r-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
div.table-r-container{
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

table.table-r{
	
	border-collapse: collapse;
	background: transparent;
}
table.table-r th{
	color: #008080;
	border-bottom: 2px solid #F73E24;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 10px;
}
table.table-r td{
	border-bottom: 1px solid #F73E24;
	font-weight: normal;
	padding: 10px 5px;
	transition: .0.5s linear;
}
table.table-r tr:hover td{
	background: #A3D0C3;
}


.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}
.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@keyframes slide {
	0% {
		  transform: translateX(-100%);
	}
	100% {
		  transform: translateX(0%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		        transform: translateX(100%);
	}
}

a.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url('../images/icon_top.png') no-repeat;
}

